
body{
    color:hsl(219, 9%, 45%);
    font-family: 'Kumbh Sans', sans-serif; 
    font-size: 16px;
}
header{
    display: flex;
    padding:0% 0% 0% 0%;
    margin:0% 10% 0% 10%;
    border-bottom: solid 1px hsl(220, 14%, 75%);
    align-items: center;
}
main{
    position: relative;
}
.nav li{
    align-items: center;
    padding-bottom: 50%;
    padding-top: 30px;
}
.nav ul a {
    text-decoration: none;
    list-style: none;
    padding-left: 10%;
}
a:hover{text-decoration: none;
    cursor:default;
}

.nav ul:hover{
    cursor:pointer;
    
}
.nav li:hover{
    cursor:pointer;
    border-bottom: solid hsl(26, 100%, 55%);
}

.logo{
    margin-bottom: 4%;
    padding-top: 30px;
}
.nav{
    flex:3 1
}

.panier{
    display: flex;
    flex-direction: row-reverse;
    flex:2;
    margin-right: 3%;
    margin-bottom: 40px;
    padding-top: 30px;
}
ul{
    display: flex;
    margin: 0%;
}

.profil img{
    width: 50%;
    margin-bottom: 40px;
    margin-top: 30px;
}
.profil a img:hover{
    border: solid hsl(26, 100%, 55%);
    border-radius:80px;
}

main{
    display: flex;
}

.left{
    display: flex;
    justify-content: center;
    width: 50%;
    margin-top: 5%;
    flex-direction: column;
    
}
.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    
}
.nom{
    width: 50%;
}
.texte{
    width: 70%;
    margin-bottom: 3%;
    margin-top: 3%;
}
.pourcent{
    display:flex;
}
.prix{
    margin-right:4% ;
}
.ajoutée{
    display: flex;
    padding: 1% 10%;
    border-radius: 10px;
    border: 0px;
    background-color:hsl(26, 100%, 55%);
    color: white;
}
.pourcent .fifthy{
    background-color:hsl(25, 100%, 94%);
    color: orange;
    border-radius: 20%;
    padding-top: 1%;
    padding:1% 2% 0% 2%;

}
.button{
    display: flex;
    margin-top: 5%;
    width: 30%;
}
.plus{
    border: 0px;
    background-color: hsl(223, 64%, 98%);
    
}
.moins{
    border: 0px;
    background-color: hsl(223, 64%, 98%);
}
.button-contenaire{
    display: flex;
}
.button p{
    display: flex;
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;;
    
}
.quantité{
    padding: 0% 3%;
    background-color: hsl(223, 64%, 98%);
}

.photo1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}
.photo1 img{
    width: 60%;
    border-radius: 5%;
}

li img{
    width:100%;
    border-radius: 15%;   
}
.listphoto {
    display: flex;
    justify-content: center;
    list-style:none;
    width:100%;
    padding: 0%; 
}
.listphoto li{
    display: flex;
    justify-content: center;
    width: 11%;
    margin-left: 3%;
    margin-right: 3%;

    

}
.titre{
   color:hsl(26, 100%, 55%);
   font-size: 8px;
}
.nom{
    color:hsl(0, 0%, 0%);
}
.prix {
    color:hsl(0, 0%, 0%);
    font-size: 25px;
    font-weight: bold;
}
.fifthy{
    color:hsl(0, 0%, 0%);
    font-weight: bold;
    font-size: 15px;
}
.price-off p{
    font-size: 15px;
    text-decoration:line-through;

}

.cart{
    width: 100%;
    margin: 0px;
    padding-left: 10%;
}
.cart img {
    width:100%;
}


.panier-overlay.visible{
    display:block;
}



.ajoutée2{
    display: flex;
    width: 100%;
    margin-top: 5%;
}

.panier-overlay{
    display:none;
    flex-direction: column;
    width: 300px;
    height: 200px;
    position: absolute;
    top:15%;
    right: 5%;
    box-shadow: 5px 21px 52px 1px rgba(0,0,0,0.64);
-webkit-box-shadow: 5px 21px 52px 1px rgba(0,0,0,0.64);
-moz-box-shadow: 5px 21px 52px 1px rgba(0,0,0,0.64);
}


.fullsizeimg1 img{
    border-radius:3%;
    width: 40%;
    height: 60%;
}

.flechegauche{
    position: absolute;
    top: 35%;
    left: 28%;
    border-radius: 50%;
    background-color: white;
    padding: 1.7%;
}
.flechegauche img{
    width:70% ;
}

.flechedroite img{
    width:70%;
}
.flechedroite{
    position: absolute;
    display: flex;
    top: 35%;
    right: 28%;
    border-radius: 50%;
    background-color: white;
    padding: 1.7%;
    justify-content: center;
    align-items: center;
}
.close {
    position: absolute;
    top: 5%;
    right: 30%;
    border: none;
    
}
.close img{
    width: 100%; 
}


.image-bottom{
    display: flex;
    justify-content: center;
    padding-top: 1%;
    
}
.image-bottom img {
    margin: 15px;
    width: 80%;
    border-radius: 10%;
}

.fullsizeimg1{
    display:none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.75);
    z-index: 100;   
}

.hidden{
    display:none
}
#galery img.hidden{
    display: none;
}

#galery {
    width: 40%;
    max-height: 60%;
    display:flex;
    justify-content: center;
    
    
}
#galery img{
    width: 80%;
    height: 100%;
    display:flex;
    justify-content: center;

}
.article1{
    margin-top: 2%;
}
.article1-img {
    width: 20%;
    border-radius: 10%;
    margin:2%;
}
.article1-img img{
    width: 100%;
    border-radius: 10%;
}

.article1{
    display: none;
    padding: 2%;
    
}
.text-prix{
    display:flex;
    
}
.article1-text{
    margin:2% ;
}
.prixtotal{
    margin-left: 2%;
    font-weight:bold;
}
.titrepanier{
   font-size: 100%;
}

.text-prix img{
    margin-left: 40%;
    height: 10%;
}

.panieritem{
    display: flex;
    flex-direction: column;
}
.text-vide{
    position: absolute;
    top: 45%;
    right: 27%;
}

.checkout button{
   color: white;
   background-color: orange;
   border: none;
   width: 80%;
   padding: 5% 25%;
   border-radius: 20px;
   margin-top: 3%;
    
}

.checkout{
    display: none;
    justify-content: center;
}
.nav-mobile{
    display: none;
    
}

@media (max-width:800px) {
    .left{
        display:none
    }
    
    .fullsizeimg1{
        display: flex;
    }
    
    /* header*/
    .nav{
        display:none;
    }
    
    header{
        display:flex;
        padding: 4%;
        order: -2;
    }
    .nav-mobile{
        width:20%;
    }
    .nav-mobile button {
        width: 50%;
    }
    .nav-mobile img {
        width: 100%;
    }
    .logo{
        width: 200px;
        margin-right: 20%;
        margin-left: 2%;
    }
    .logo img{
       width:100%; 
    }
    
    .panier{
        width: 8%;
        margin-right: 3%;
    }
    .panier img{
        width: 150%;
    }
    .profil{
        width:8% ;
    
    }
    .profil img{
    width: 100%;
    }
    
    /* body*/
    body{
        display:flex;
        flex-direction: column;
        color:hsl(219, 9%, 45%);
        font-family: 'Kumbh Sans', sans-serif; 
        font-size: 80%;
    }
    .right{
        padding: 5%;
    }
    
    .main{
        display: flex;
        order:3;
    }
    
    .titre{
        color:hsl(26, 100%, 55%);
        font-size: 80%;
        font-weight: bold;
       
     }
     .nom{
         color:hsl(0, 0%, 0%);
         width: 80%;
         line-height: 1;
         padding-top:5%;
         padding-bottom:5%;
         
     }
     .texte{
        font-size: 130%;
        
     }
     .price{
        display: flex;
        margin-top: 5%;
     }
     .pourcent{
        display: flex;
     }
     .prix {
         color:hsl(0, 0%, 0%);
         font-size: 225%;
         font-weight: bold;
     }
     .fifthy{
         color:hsl(0, 0%, 0%);
         font-weight: bold;
         font-size: 150%;
     }
     .price-off p{
         font-size: 150%;
         text-decoration:line-through;
     
     }
     .price-off{
        margin-left: 40%;
     }
     .pourcent .fifthy{
        background-color:hsl(25, 100%, 94%);
        color: orange;
        border-radius: 20%;
        margin-left: 10%;
        padding:5% 11% ;
        
    
    }
     .cart{
         width: 100%;
         margin: 0px;
         padding-left: 10%;
     }
     .cart img {
         width:100%;
     }
    
     .button{
        display: flex;
        margin-top: 5%;
        justify-content: center;
    }
    .plus{
        border: 0px;
        margin-left: 40%;
        background-color: hsl(223, 64%, 98%);
    }
    .moins{
        border: 0px;
        background-color: hsl(223, 64%, 98%);
        margin-right: 40%;
    }
    .button p{
        display: flex;
        align-items: center;
    }
    .quantité{
        padding: 0% 3%;
        background-color: hsl(223, 64%, 98%);
    }
    
    .ajoutée{
        display: flex;
        padding: 5% 5%;
        border-radius: 10px;
        border: 0px;
        background-color:hsl(26, 100%, 55%);
        color: white;
        width: 100%;
        justify-content: center;
    }
    .ajoutée2{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 5%;
    }
    .counting{
        font-weight: bold;
        font-size: medium;
        color: black;
    }
    
    
    /* lightbox*/
    .fullsizeimg1{
        display: flex;
        order:-1;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 100;
        max-height: 80%;
    }
    
    
    .image-bottom{
        display: none;
    }
    
    .hidden{
        display:none
    }
    #galery img.hidden{
        display: none;
    }
    
    #galery {
        width: 100%;
        display:flex;
        
    }
    #galery img{
        width: 100%;
        height: 80%;
        display:flex;
    }
    
    .flechegauche{
        position: absolute;
        top: 28%;
        right: 85%;
        border-radius: 50%;
        background-color: white;
        padding: 5%;
        width: 12%;
    }
    .flechegauche img{
        width:100% ;
    }
    
    .flechedroite img{
        width:100%;
        margin: 0%;
        
        
    }
    .flechedroite{
        position: absolute;
        top: 28%;
        left: 85%;
        border-radius: 50%;
        background-color: white;
        padding: 5%;
        width: 12%;
        margin-right: 0%;
        
    }
    
    
    /* panier*/
    
    .panier-overlay{
        display: none;
    }
    .close{
        display:none
    }
    .panier-overlay.visible{
        display:block;
    }
    .article1{
        margin-top: 2%;
    }
    .article1-img {
        width: 20%;
        border-radius: 10%;
        margin:2%;
    }
    .article1-img img{
        width: 100%;
        border-radius: 10%;
    }
    
    .article1{
        display: none;
        padding: 2%;
        
    }
    .text-prix{
        display:flex;
        
    }
    .article1-text{
        margin:2% ;
    }
    .prixtotal{
        margin-left: 2%;
        font-weight:bold;
    }
    .titrepanier{
       font-size: 100%;
    }
    
    .text-prix img{
        margin-left: 40%;
        height: 10%;
    }
    
    .panieritem{
        display: flex;
        flex-direction: column;
    }
    .text-vide{
        position: absolute;
        top: 45%;
        right: 27%;
    }
    
    .checkout button{
       color: white;
       background-color: orange;
       border: none;
       width: 80%;
       padding: 5% 25%;
       border-radius: 20px;
       margin-top: 3%;
        
    }
    .checkout{
        display: none;
        justify-content: center;
    }
    
}